<mat-card id="employee">
        <mat-card-header>
                <span>
                        <mat-form-field id="search_employee_form" class="search_by">
                            <input 
                                id="search_employee_input"
                                matInput
                                placeholder="Search by employee" 
                                #search_input aria-label="Search for a employee"
                                (keydown.enter)="onFilter(search_employee_input?.value)">
                            <button id="on_search_button" mat-button matSuffix mat-icon-button aria-label="Search" (input)="onFilter(search_employee_input?.value)">
                                <mat-icon>search</mat-icon>
                            </button>
                            <button id="clear_search_button" *ngIf="search_employee_input !==''" mat-button matSuffix mat-icon-button aria-label="Clear" (input)="onFilter(''); 
                            search_employee_input =''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </span>
    
            <span class="spacer"></span>
            <span>
                <button id="add_user_button" mat-stroked-button class="right" color="primary" (click) ="newEmployee()">New Employee</button>
            </span>
        </mat-card-header>

    <mat-card-content class="employee_container">
        <mat-table id="employee_table" #table [dataSource] ="dataSource" matSort matSortStart ="desc">
            <ng-container matColumnDef ="empId" style ="width: 480px !important">
                <mat-header-cell *matHeaderCellDef id="empId_button" mat-sort-header>
                    empId
                </mat-header-cell>
                <mat-cell *matCellDef ="let element">
                    {{element.empId}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef ="empFirstName" style="width: 480px !important">
            <mat-header-cell *matHeaderCellDef id="empFirstName_button" mat-sort-header>
                empFirstName
                <mat-cell *matCellDef ="let element">
                    {{element.empFirstName}}
                </mat-cell>
            </mat-header-cell>
            </ng-container>

            <ng-container matColumnDef ="empMidleName" style="width: 480px !important">
                <mat-header-cell *matHeaderCellDef id="empMidleName_button" mat-sort-header>
                        empMidleName
                    <mat-cell *matCellDef ="let element">
                        {{element.empMidleName}}
                    </mat-cell>
                </mat-header-cell>
            </ng-container>

            <ng-container matColumnDef ="emplLastName" style="width: 480px !important">
            <mat-header-cell *matHeaderCellDef id="emplLastName_button" mat-sort-header>
                emplLastName
                <mat-cell *matCellDef ="let element">
                    {{element.emplLastName}}
                </mat-cell>
            </mat-header-cell>
            </ng-container>

            <ng-container matColumnDef ="empGender" style="width: 480px !important">
                <mat-header-cell *matHeaderCellDef id ="empGender_button" mat-sort-header>
                        empGender
                    <mat-cell *matCellDef ="let element">
                        {{element.empGender}}
                    </mat-cell>
                </mat-header-cell>
            </ng-container>

            
            <ng-container matColumnDef ="action">
                    <mat-header-cell class="actions-column" *matHeaderCellDef style="width:580px !important">Action</mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
    
                <button  id="view_role_button_{{element.id}}" mat-icon-button color="primary" queryParamsHandling="merge" title="View" matTooltip="View" [matTooltipShowDelay]="800">
                    <mat-icon>visibility</mat-icon>    
                </button>
    
                <button  id="edit_applicant_button_{{element.id}}" mat-icon-button  matTooltip="Edit" (click)= "saveOrUpdateApplicant(element)" >
                <mat-icon color="primary" >create</mat-icon>
                </button>
    
                <button id="delete_role_button_" mat-icon-button title="Delete" matTooltip="Delete" (click)="deleteEmployee(element)" [matTooltipShowDelay]="800">
                    <mat-icon color="accent">delete</mat-icon>
                </button> 
            </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef ="displayedColumns"></mat-header-row>
            <mat-row *matRowDef ="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator id="applicant_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
            </mat-paginator>
    
    </mat-card-content>

</mat-card>