    <mat-card-header>
        <h4>Create Employee</h4>
    </mat-card-header>
<mat-card-content>
    <div class="row">  
        <form [formGroup] ="employeeForm" (ngSubmit) ="onSubmit(employeeForm.value)">  
           <div class="row">
               <mat-form-field appearance = "outline" style="width: 480px !important">
                    <mat-label>empId</mat-label>
                    <input matInput formControlName ="empId" class="form-control input-sm" id="empId" [(ngModel)] ="employee.empId" required>
                    <mat-error
                    *ngIf="employeeForm.controls.empId.invalid && !employeeForm.controls.empId.errors?.maxlength && !employeeForm.controls.empId.errors?.pattern">
                  <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance = "outline" style="width: 480px !important">
                    <mat-label>empFirstName</mat-label>
                    <input matInput formControlName = "empFirstName" class="form-control input-sm" id="empFirstName" [(ngModel)] ="employee.empFirstName" required>
                    <mat-error
                    *ngIf="employeeForm.controls.empFirstName.invalid && !employeeForm.controls.empFirstName.errors?.maxlength && !employeeForm.controls.empFirstName.errors?.pattern">
                  <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
                </mat-form-field>

           </div>

           <div class="row">
               <mat-form-field appearance ="outline" style="width: 480px !important">
                    <mat-label>empMidleName</mat-label>
                    <input matInput formControlName ="empMidleName" class="form-control input-sm" id="empMidleName" [(ngModel)] ="employee.empMidleName" required>
                    <mat-error
                    *ngIf="employeeForm.controls.empMidleName.invalid && !employeeForm.controls.empMidleName.errors?.maxlength && !employeeForm.controls.empMidleName.errors?.pattern">
                  <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance ="outline" style="width: 480px !important">
                <mat-label>empDateOfBirth</mat-label>
                <input matInput [matDatepicker]="empDateOfBirth" formControlName = "empDateOfBirth" class="form-control input-sm" id="date" [(ngModel)] ="employee.empDateOfBirth " required>
                <mat-datepicker-toggle matSuffix [for]="empDateOfBirth"></mat-datepicker-toggle>
                <mat-datepicker touchUi #empDateOfBirth></mat-datepicker>
                <mat-error
                    *ngIf="employeeForm.controls.empDateOfBirth.invalid && !employeeForm.controls.empDateOfBirth.errors?.maxlength && !employeeForm.controls.empDateOfBirth.errors?.pattern">
                  <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
            </mat-form-field>
           </div>


           <div class="row">
               <mat-form-field appearance ="outline" style="width: 480px !important">
                    <mat-label>emplLastName</mat-label>
                    <input matInput formControlName ="emplLastName" class="form-control input-sm" id="emplLastName" [(ngModel)] ="employee.emplLastName" required>
                    <mat-error
                    *ngIf="employeeForm.controls.emplLastName.invalid && !employeeForm.controls.emplLastName.errors?.maxlength && !employeeForm.controls.emplLastName.errors?.pattern">
                  <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
        
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance ="outline" style="width: 480px !important">
                <mat-label>empGender</mat-label>
                <mat-select placeholder="empGender" formControlName="empGender"  [(ngModel)] ="employee.empGender" required>
                  <mat-option id="empGender">select</mat-option>
                  <mat-option value="Male" id="empGender">Male</mat-option>
                  <mat-option value="Female" id="empGender">Female</mat-option>
                </mat-select>
                
                <mat-error
                    *ngIf="employeeForm.controls.empGender.invalid && !employeeForm.controls.empGender.errors?.maxlength && !employeeForm.controls.empGender.errors?.pattern">
                  <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>

            </mat-form-field>

           </div>

           
           <div class="row">
            <mat-form-field appearance ="outline" style="width: 480px !important">
              <mat-label>startDate</mat-label>
              <input matInput [matDatepicker]="startDate" formControlName = "startDate" class="form-control input-sm" id="date" [(ngModel)] ="employee.startDate " required>
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #startDate></mat-datepicker>
              <mat-error
                  *ngIf="employeeForm.controls.startDate.invalid && !employeeForm.controls.startDate.errors?.maxlength && !employeeForm.controls.startDate.errors?.pattern">
                <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
          </mat-form-field>
         &nbsp;
         <mat-form-field appearance ="outline" style="width: 480px !important">
             <mat-label>endDate</mat-label>
             <input matInput [matDatepicker]="endDate" formControlName = "endDate" class="form-control input-sm" id="date" [(ngModel)] ="employee.endDate " required>
             <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
             <mat-datepicker touchUi #endDate></mat-datepicker>
             <mat-error
                 *ngIf="employeeForm.controls.endDate.invalid && !employeeForm.controls.endDate.errors?.maxlength && !employeeForm.controls.endDate.errors?.pattern">
               <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
         </mat-form-field>
        </div>

      <div>
        <mat-form-field appearance ="outline" style="width: 480px !important">
            <mat-label>department</mat-label>
            <mat-select placeholder="departmentId" formControlName="departmentId"  [(ngModel)] ="employee.departmentId" required>
              <mat-option id="departmentId">select</mat-option>
              <mat-option *ngFor="let lC of employees"[value]="lC.id">
                   {{lC.departmentId}}
              </mat-option>
              
            </mat-select>
            
            <mat-error
                *ngIf="employeeForm.controls.departmentId.invalid && !employeeForm.controls.departmentId.errors?.maxlength && !employeeForm.controls.departmentId.errors?.pattern">
              <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>

        </mat-form-field>
      </div>

           <mat-card-footer>
                    <span class="spacer"></span>
                    <span>
                      <button type="submit" id="save_applicant_button" mat-flat-button color="primary"
                      style="margin-left: 350px;">Submit</button>
                    </span>
                      <button type="submit" id="save_applicant_button" mat-flat-button color="primary" 
                      style="margin-left: 130px;" (click)="cancelButton()">cancel</button>
            </mat-card-footer>

        </form>
   </div>
</mat-card-content>