
<mat-card id="user">
    
    <mat-card-header>
        <span>
            <mat-form-field id="search_users_form" class="search_by">
                <input 
                    id="search_user_input"
                    matInput
                    placeholder="Search by User" 
                    #search_user_input aria-label="Search for a user"
                    (keydown.enter)="onFilter(search_user_input.value)"
                >
                <button id="on_search_button" mat-button matSuffix mat-icon-button aria-label="Search" (click)="onFilter(search_user_input.value)">
                    <mat-icon>search</mat-icon>
                </button>
                <button id="clear_search_button" *ngIf="search_user_input.value !==''" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onFilter(''); search_user_input.value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </span>
        <span class="spacer"></span>
        <span>
            <button id="add_user_button" mat-stroked-button class="right" color="primary" [routerLink]="['/departmentAdd']">Add Department</button>
        </span>
    </mat-card-header>

    <mat-card-content class="users_container">
        <mat-table id="user_table" #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="departmentId" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="departmentId_button" mat-sort-header>
                    departmentId
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.departmentId }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="departmentName" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="departmentName_button" mat-sort-header> 
                    departmentName
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.departmentName}}
                </mat-cell>
            </ng-container>


            
            <ng-container matColumnDef="departmentDescription" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="departmentDescription_button" mat-sort-header> 
                    departmentDescription
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.departmentDescription}}
                </mat-cell>
            </ng-container>

            
    <ng-container matColumnDef ="action">
        <mat-header-cell class="actions-column" *matHeaderCellDef style="width:580px !important">Action</mat-header-cell>
        <mat-cell class="actions-column" *matCellDef="let element"> <span class="mobile-label"></span>
    <button  id="view_role_button_{{element.id}}" mat-icon-button color="primary" queryParamsHandling="merge" title="View" matTooltip="View" [matTooltipShowDelay]="800">
        <mat-icon>visibility</mat-icon>    
    </button>

    <button  id="edit_applicant_button_{{element.id}}" mat-icon-button  matTooltip="Edit" (click)= "saveOrUpdate(element)" >
        <mat-icon color="primary" >create</mat-icon>
        </button>

        <button id="delete_role_button_" mat-icon-button title="Delete" matTooltip="Delete" (click)="deletetDepartment(element)" [matTooltipShowDelay]="800">
            <mat-icon color="accent">delete</mat-icon>
        </button> 
   </mat-cell>
</ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <mat-paginator
            id="user_pagination" 
            [pageSize]="pageSize" 
            [showFirstLastButtons]='true' 
            [hidePageSize]="true"
        >
        </mat-paginator>
    </mat-card-content>
</mat-card>
