

<mat-card-header>
  <h4>Create new department</h4>
</mat-card-header>
<mat-card-content>
 <div class="row">  
  <form [formGroup]="departmentForm" (ngSubmit) ="onSubmit(departmentForm.value)">
         
    <div class="row">
      <mat-form-field appearance = "outline" style="width: 480px !important">
           <mat-label>departmentId</mat-label>
           <input matInput formControlName ="departmentId" class="form-control input-sm" id="departmentId" [(ngModel)] ="department.departmentId" required>
           <mat-error
           *ngIf="departmentForm.controls.departmentId.invalid && !departmentForm.controls.departmentId.errors?.maxlength && !departmentForm.controls.departmentId.errors?.pattern">
         <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
       </mat-form-field>
       &nbsp;
       <mat-form-field appearance = "outline" style="width: 480px !important">
           <mat-label>departmentName</mat-label>
           <input matInput formControlName = "departmentName" class="form-control input-sm" id="departmentName" [(ngModel)] ="department.departmentName" required>
           <mat-error
           *ngIf="departmentForm.controls.departmentName.invalid && !departmentForm.controls.departmentName.errors?.maxlength && !departmentForm.controls.departmentName.errors?.pattern">
         <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
       </mat-form-field>

  </div>

  <div>
        <mat-form-field appearance = "outline" style="width: 480px !important">
          <mat-label>departmentDescription</mat-label>
          <input matInput formControlName = "departmentDescription" class="form-control input-sm" id="departmentDescription" [(ngModel)] ="department.departmentDescription" required>
          <mat-error
          *ngIf="departmentForm.controls.departmentDescription.invalid && !departmentForm.controls.departmentDescription.errors?.maxlength && !departmentForm.controls.departmentDescription.errors?.pattern">
        <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
      </mat-form-field>
  </div>
  
      <mat-card-footer>
        <span class="spacer"></span>
        <span>
          <button type="submit" id="save_learner_course_button" mat-flat-button color="primary" style="margin-left: 350px;">Save</button>
        </span>
        <button type="submit" id="save_applicant_button" mat-flat-button color="primary" 
                      style="margin-left: 130px;" (click)="cancelButton()">cancel</button>
      </mat-card-footer>
  </form>
  </div>
</mat-card-content>








