
<mat-card id="applicant">
    
    <mat-card-header>
        <span class="spacer"></span>
        <span>
            <button id="add_user_button" mat-stroked-button class="right" color="primary" (click) ="newApplicant()">New benefit</button>
        </span>
    </mat-card-header>

    <mat-card-content class="users_container">
        <mat-table id="applicant_table" #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="benefitId" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="benefitId_button" mat-sort-header>
                    benefitId
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.benefitId }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="benefitCode" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="benefitCode_button" mat-sort-header> 
                    benefitCode
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.benefitCode}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="benefitDesc" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="benefitDesc_button" mat-sort-header> 
                    benefitDesc
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.benefitDesc}}
                </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef ="action">
                <mat-header-cell class="actions-column" *matHeaderCellDef style="width:580px !important">Action</mat-header-cell>
                <mat-cell *matCellDef="let element"> 

            <button  id="view_role_button_{{element.id}}" mat-icon-button color="primary" queryParamsHandling="merge" title="View" matTooltip="View" [matTooltipShowDelay]="800">
                <mat-icon>visibility</mat-icon>    
            </button>

            <button  id="edit_applicant_button_{{element.id}}" mat-icon-button  matTooltip="Edit" (click)= "saveOrUpdateApplicant(element)" >
            <mat-icon color="primary" >create</mat-icon>
            </button>

            <button id="delete_role_button_" mat-icon-button title="Delete" matTooltip="Delete" (click)="OpenModal()" [matTooltipShowDelay]="800">
                <mat-icon color="accent">delete</mat-icon>
            </button> 
        </mat-cell>
        </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator
        [pageSize]="1" [pageSizeOptions]="[1,2,3]">
        </mat-paginator>

    </mat-card-content>
</mat-card>
