
<mat-card id="applicant">
    
    <mat-card-header>


            <span>
                    <mat-form-field id="search_applicant_form" class="search_by">
                        <input 
                            id="search_applicant_input"
                            matInput
                            placeholder="Search by applicant" 
                            #search_input aria-label="Search for a applicant"
                            (keydown.enter)="onFilter(search_applicant_input?.value)">
                        <button id="on_search_button" mat-button matSuffix mat-icon-button aria-label="Search" (input)="onFilter(search_applicant_input?.value)">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button id="clear_search_button" *ngIf="search_applicant_input !==''" mat-button matSuffix mat-icon-button aria-label="Clear" (input)="onFilter(''); 
                        search_applicant_input =''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </span>

        <span class="spacer"></span>
        <span>
            <button id="add_user_button" mat-stroked-button class="right" color="primary" (click) ="newApplicant()">New Applicant</button>
        </span>
    </mat-card-header>

    <mat-card-content class="users_container">
        <mat-table id="applicant_table" #table [dataSource]="dataSource" matSort matSortStart="desc">

            <ng-container matColumnDef="firstName" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="firstName_button" mat-sort-header>
                    firstName
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.firstName }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="lastName_button" mat-sort-header> 
                    lastName
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.lastName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="address" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="address_button" mat-sort-header> 
                    address
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.address}}
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="country" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="country_button" mat-sort-header> 
                    country
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.country}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="city" style="width:480px !important">
                <mat-header-cell *matHeaderCellDef id="city_button" mat-sort-header> 
                    city
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.city}}
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="phone" style="width:580px !important">
                <mat-header-cell *matHeaderCellDef id="phone_button" mat-sort-header> 
                    phone
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.phone}}
                </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef ="action">
                <mat-header-cell class="actions-column" *matHeaderCellDef style="width:580px !important">Action</mat-header-cell>
                <mat-cell *matCellDef="let element"> 

            <button  id="view_role_button_{{element.id}}" mat-icon-button color="primary" queryParamsHandling="merge" title="View" matTooltip="View" [matTooltipShowDelay]="800">
                <mat-icon>visibility</mat-icon>    
            </button>

            <button  id="edit_applicant_button_{{element.id}}" mat-icon-button  matTooltip="Edit" (click)= "saveOrUpdateApplicant(element)" >
            <mat-icon color="primary" >create</mat-icon>
            </button>

            <button id="delete_role_button_" mat-icon-button title="Delete" matTooltip="Delete" (click)="deleteApplicant(element)" [matTooltipShowDelay]="800">
                <mat-icon color="accent">delete</mat-icon>
            </button> 
        </mat-cell>
        </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        
        <mat-paginator id="applicant_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
        </mat-paginator>

    </mat-card-content>
</mat-card>
