.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
  }
  
  
  mat-cell, mat-footer-cell, mat-header-cell {
    flex: 1;
    align-items: o;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
    width: 280%;
  }
  
  .header-align-right{
    display: flex;
    padding: 21px 0;
    justify-content: flex-end;
  }
  
  
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 50px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
  }
  
  .mat-drawer-content {
    position: initial;
    z-index: 100;
    height: 100%;
    overflow: auto;
  }
  
  
  mat-cell[_ngcontent-mvl-c8], mat-footer-cell[_ngcontent-mvl-c8], mat-header-cell[_ngcontent-mvl-c8] {
    flex: 1;
    align-items: o;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
    width: 280%;
  }
  



  