

<mat-card-header>
  <h2>create applicant</h2>
      </mat-card-header>
  <mat-card-content>
    <div class="row">
        <form   [formGroup]="applicantForm" (ngSubmit)="onSubmit(applicantForm.value)">

            <div class="row">
                  <mat-form-field appearance="outline"  style="width:480px !important">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName ="firstName" class="form-control input-sm" id="firstName" [(ngModel)] ="applicant.firstName" required>
                    <mat-error
                    *ngIf="applicantForm.controls.firstName.invalid && !applicantForm.controls.firstName.errors?.maxlength && !applicantForm.controls.firstName.errors?.pattern">
                  <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
                  </mat-form-field>
                  &nbsp;
                  
                    <mat-form-field appearance="outline" style="width:480px !important">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName ="lastName" class="form-control input-sm" id="lastName" [(ngModel)] ="applicant.lastName"required>
                        <mat-error
                       *ngIf="applicantForm.controls.lastName.invalid && !applicantForm.controls.lastName.errors?.maxlength && !applicantForm.controls.lastName.errors?.pattern">
                       <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
                   </mat-form-field>
                   &nbsp;
            </div>
      
      
            <div class="card-row">      
                   <mat-form-field appearance="outline" style="width:480px !important">
                     <mat-label>Address</mat-label>
                     <input matInput formControlName ="address" class="form-control input-sm" id="address" [(ngModel)] ="applicant.address" required>
                     <mat-error
                     *ngIf="applicantForm.controls.address.invalid && !applicantForm.controls.address.errors?.maxlength && !applicantForm.controls.address.errors?.pattern">
                   <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
                   </mat-form-field>
                   &nbsp;
                   <mat-form-field appearance="outline" style="width:480px !important">
                     <mat-label>City</mat-label>
                     <input matInput formControlName ="city"  class="form-control input-sm" id="city" [(ngModel)] ="applicant.city" required>
                     <mat-error
                     *ngIf="applicantForm.controls.city.invalid && !applicantForm.controls.city.errors?.maxlength && !applicantForm.controls.city.errors?.pattern">
                   <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
                   </mat-form-field>
                   &nbsp;
             </div>
      
               <div class="card-column">
                   <mat-form-field appearance="outline" style="width:480px !important">
                     <mat-label>Country</mat-label>
                     <input matInput formControlName ="country"class="form-control input-sm"  id="country" [(ngModel)] ="applicant.country" required>
                     <mat-error
                     *ngIf="applicantForm.controls.country.invalid && !applicantForm.controls.country.errors?.maxlength && !applicantForm.controls.country.errors?.pattern">
                   <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
                   </mat-form-field>
                   &nbsp;

                  <mat-form-field appearance="outline" style="width:480px !important">
                    <mat-label>Phone</mat-label>
                     <input matInput formControlName ="phone" class="form-control input-sm" id="phone" [(ngModel)] ="applicant.phone" required>
                    <mat-error
                     *ngIf="applicantForm.controls.phone.invalid && !applicantForm.controls.phone.errors?.maxlength && !applicantForm.controls.phone.errors?.pattern">
                   <span id="PipesMandatoryfieldId"> Mandatory field</span></mat-error>
                   </mat-form-field>
                   &nbsp;
               </div>
      
      
      
            <mat-card-footer>
              <span class="spacer"></span>
              <span>
                <button type="submit" id="save_applicant_button" mat-flat-button color="primary"
                style="margin-left: 350px;">Submit</button>
              </span>
                <button type="submit" id="save_applicant_button" mat-flat-button color="primary" 
                style="margin-left: 130px;" (click)="cancelButton()">cancel</button>
            </mat-card-footer>
        </form>
        </div>
      </mat-card-content>
      


