.example-container {
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 55px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 55px;
}


.example-sidenav-content {
  display: flex;
  height: 90%;
  align-items: baseline;
  justify-content: center;
}